nav, header, ul, li, h1, h2 {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

header {
	background: url(./images/header-bg.png);
	height: 97px;
	padding-left: 22px;
	border-bottom: 5px solid #39C518;
}

header h1 {
	padding-top: 25px;
	font-size: 34px;
	color: #EEFFEE;
}

header h2 {
	font-size: 14px;
	font-weight: normal;
	color: #C0C0C0;	
}

#aside {
	color: #59770E;
	text-transform: uppercase;
	font-weight: bold;
	float: right;
	width: 200px;
	margin-top: 23px;
}

#aside input {
	width: 155px;
}

#content {
	float: left;
	width: 760px;	
}

#content article {
	color: #555555;
}

#content h1 {
	color: #59770E;
	padding-top: 26px;
	font-size: 30px;
}

#title {
	float: left;	
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

#nav {
	float: right;
	display: inline-block;
}

#nav ul {
	list-style-type: none;
	color: #CC6600;
	font-weight: bold;
	font-size: 18px;
	margin-right: 30px;
	
}

#nav ul li {
	float: left;
	padding-top: 48px;
	margin-left: 20px;
}

.clear {
	clear: both;
}



