body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}
body #root {
  margin: 0;
  padding: 0;
  width: 630px;
}
body #root .avengers {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body #root .avengers .avenger {
  margin: 0;
  padding: 0;
  display: inline;
}
body #root .avengers .avenger .name {
  margin: 0;
  padding: 0;
  font-weight: bold;
  border-top-left-radius: 5px;
  border: 3px solid black;
  border-right: none;
}
body #root .avengers .avenger .name:hover {
  text-decoration: underline;
  border-bottom: solid 3px #FFFFFF;
}
body #root .avengers .avenger .name:hover + .preview {
  position: absolute;
  display: block;
}
body #root .avengers .avenger .preview {
  display: none;
  border: solid 3px #000000;
  background-color: #CCCCCC;
}
body #root .avengers .avenger .preview .skills {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  float: right;
}
body #root .avengers .avenger .preview .skills li {
  padding-bottom: 50px;
}
body #root .avengers .avenger .preview img {
  padding: 0;
  margin: 0;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 400px;
  height: 220px;
  border-radius: 5px;
  border: 5px solid #FFFFFF;
}
body #root .avengers .skills {
  list-style-type: none;
}
