<fieldset>
	<legend>Register a new User</legend>

	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label for="tb-reg-username">Username:</label>
				<input type="text" class="form-control" id="tb-username" />
			</div>
			<div class="form-group">
				<label for="tb-reg-pass">Password:</label>
				<input type="password" class="form-control" id="tb-password" />
			</div>
			<button class="btn btn-default" id="btn-register">Register</button>
			<button class="btn btn-default" id="btn-login">Login</button>
		</div>
	</div>
</fieldset>