#page {
    text-align: center
}

#main-nav {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

#page .hidden-when-not-logged-in {
    display: none;
}

#page.logged-in .hidden-when-not-logged-in {
    display: initial;
}

#page.logged-in .visible-when-not-logged-in {
    display: none;
}