<fieldset>
	<legend>Add new ToDo</legend>

	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label for="tb-reg-text">Text:</label>
				<input type="text" class="form-control" id="tb-cookie-text" />
			</div>
			<div class="form-group">
				<label for="tb-reg-img">Image: (Example: https://dayinthelifeofapurpleminion.files.wordpress.com/2014/12/batman-exam.jpg)</label>
				<input type="text" class="form-control" id="tb-cookie-img" />
			</div>
			<div class="form-group">
				<label for="tb-reg-category">Category: </label>
				<input type="text" class="form-control" id="tb-cookie-category" />
			</div>
			<button class="btn btn-default" id="btn-add-cookie">Add Task</button>
		</div>
	</div>
</fieldset>